﻿<div class="feed_comment">
    <a class="fleft" href="ViewPerson.aspx?objid=${AuthorID}&objtype=p" target="_blank" style="margin-right:4px;">
        <img src="${AvatarURL}" alt="" />
    </a>
    
    <a class="author fleft" href="ViewPerson.aspx?objid=${AuthorID}&objtype=p" target="_blank" style="margin-right:4px;">${Author}</a>
    <span>${Comment}</span>
    <div class="timestamp" style="margin-top:4px;">
        ${TimeStamp}
    </div>
    <div class="clearfix"></div>
</div>

