﻿<tr articleid="${PubmedID}">
    <td style="width: 50px; padding-top: 11px; font-size: 12px; color: #d0d0d0; text-align: left; padding-left: 0px;">${ActionTime}
    </td>
    <td style="width: 55px; text-align: center; padding-left: 10px;">
        <div class="btn-group hideonhover" data-toggle="buttons-checkbox">
            {{if (IsFavorite==false)}} <a class="btnFaveDisp" articleid="${PubmedID}" style="display: none;">
                <i class="icon-star"></i></a>{{else}} <a class="btnFaveDisp" articleid="${PubmedID}">
                    <i class="icon-star"></i></a>{{/if}} {{if (IsTrash==false)}} <a class="btnTrashDisp"
                        style="display: none;" articleid="${PubmedID}"><i class="icon-trash"></i>
                    </a>{{else}} <a class="btnTrashDisp" articleid="${PubmedID}"><i class="icon-trash"></i>
                    </a>{{/if}}
        </div>
        <div class="btn-group showonhover" data-toggle="buttons-checkbox">
            <a class="btn btn-mini btnFavorite {{if (IsFavorite==true)}} active{{/if}}" articleid="${PubmedID}"
                isdoi="false" isfave="false"><i class="icon-star icon-gray"></i></a><a class="btn btn-mini btnTrash {{if (IsTrash==true)}} active{{/if}}"
                    articleid="${PubmedID}" isdoi="false"><i class="icon-trash icon-gray"></i>
                </a>
        </div>
    </td>
    <td>
        <div style="position: relative;">
            {{if (ReadsCount==0)}} <span class="label label-warning unread">Unread</span> {{/if}}
        <a id="btnAbstract" pubmedid="${PubmedID}" class="arttitle">${Title}</a>
            <br>
            <span style="font-size: 11px;"><b>${AuthorsString}</b>&nbsp;&nbsp;${JournalTitle} <i>(${PubYear})</i></span>
            <blockquote id="divAbstract" style="display: none;">
                <div>
                </div>
                <a style="font-size: 11px;" href="http://www.ncbi.nlm.nih.gov/pubmed/${PubmedID}"
                    target="_blank"><img src="../Images/pubmedsmall.gif" class="tiptip" title="View Pubmed page" /></a> &nbsp; <a style="font-size: 11px;" href="ViewArticle.aspx?id=${PubmedID}"
                        target="_blank"><img src="../Images/bioknol.jpg"  class="tiptip" title ="View BioKnol page" /></a>
            </blockquote>


            <!-- recommendations and comments link -->


            <div style="margin-top: 5px;">
                <a style="cursor:pointer;font-size: 11px; text-decoration:none;" class="linkRecsComments">
                      {{if (!RecommendationsCount==0)}}
                    <i class="icon-thumbs-up"></i><span style="margin-left: 3px; margin-right: 7px;" id="recsCount">${RecommendationsCount}</span>
                    {{else}}
                    <i class="icon-thumbs-up" style="display:none;"></i>
                    <span style="margin-left: 3px; margin-right: 7px; display:none;" id="recsCount"></span>
                    {{/if}}
                    
                  {{if (CommentsCount==0)}}
                       <i class="icon-comment" style="display:none;"></i><span style="margin-left: 3px; margin-right: 7px;" id="commentsCount">Add comment</span>
                     {{else}}
                      <i class="icon-comment"></i><span style="margin-left: 3px; margin-right: 7px;" id="commentsCount">${CommentsCount}</span>
                    {{/if}}
                </a>

                  <blockquote id="divRecCom" style="display:none; padding-left:5px; padding-bottom:0px;">
                      <div>
                      </div>
                  </blockquote>


            </div>


            <!-- /recommendations and comments link -->

            <div class="showonhover" style="position: absolute; top: -2px; right: 0px;">
                <div class="btn-toolbar" style="margin: 0px;">

                    <!-- /btn-group -->
                    <div class="btn-group">
                        <a title="Recommend"
                            class="btn btn-mini tiptip recommend" target="_blank"><i class="icon-thumbs-up"></i></a>
                    </div>
                    <!-- /btn-group -->

                    <div class="btn-group">
                        <button class="btnWidgets btn btn-mini dropdown-toggle tiptip" data-toggle="dropdown"
                            pubmedid="${PubmedID}" title="Widgets">
                            <i class="icon-info-sign"></i><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" pubmedid="${PubmedID}">
                        </ul>
                    </div>

                    <div class="btn-group">
                        {{if (HasDownload==0)}} <a class="btnFulltext btn btn-mini dropdown-toggle tiptip"
                            data-toggle="dropdown" pubmedid="${PubmedID}" title="Full text"><i class="icon-book"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu" pubmedid="${PubmedID}">
                        </ul>
                        {{else}} <a class="btn btn-mini tiptip" href="../DownloadRedirect.aspx?PubmedID=${PubmedID}"
                            target="_blank" title="Full text">
                            <img src="../Images/pdficon14.png" height="14px" alt="" />
                        </a>{{/if}}
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /btn-toolbar -->
            </div>


            {{if (WhoViewedPersonID!=0)}}
        <div class="whoviewsbg" style="position: absolute; bottom: -8px; right: -8px;">
            <div class="bg">
                &nbsp;
            </div>
            <div class="content">
                <a href="../AccountNew/ViewPerson.aspx?objtype=p&objid=${WhoViewedPersonID}" target="_blank">${WhoViewedUserName}</a>
            </div>
            <div class="clear">
            </div>
        </div>
            {{/if}}

        </div>
    </td>
</tr>
