﻿<tr articleid="${DOI}">
    <td style="width: 50px; padding-top: 11px; font-size: 12px; color: #d0d0d0; text-align: left; padding-left: 0px;">${ActionTime}
    </td>
    <td style="width: 55px; text-align: center; padding-left: 10px;">
        <div class="btn-group hideonhover" data-toggle="buttons-checkbox">
            <a class="btnFaveDisp" style="display: none;" articleid="${DOI}"><i class="icon-star"></i></a><a class="btnTrashDisp" style="display: none;" articleid="${DOI}"><i
                class="icon-trash"></i></a>
        </div>
        <div class="btn-group showonhover" data-toggle="buttons-checkbox">
            <a class="btn btn-mini btnFavorite" articleid="${DOI}" isdoi="true">
                <i class="icon-star icon-gray"></i></a><a class="btn btn-mini btnTrash" articleid="${DOI}"
                    isdoi="true"><i class="icon-trash icon-gray"></i></a>
        </div>
    </td>
    <td>
        <div style="position: relative;">
            <img alt="" src="../Images/doi_icon.jpg" class="" style="padding-right: 4px;"><a href="http://dx.doi.org/${DOI}" target="_blank" class="arttitle">${Title}</a>


            <!-- recommendations and comments link -->


            <div style="margin-top: 5px;">
                <a style="cursor: pointer; font-size: 11px; text-decoration: none;" class="linkRecsComments">{{if (!RecommendationsCount==0)}}
                    <i class="icon-thumbs-up"></i><span style="margin-left: 3px; margin-right: 7px;" id="recsCount">${RecommendationsCount}</span>
                    {{else}}
                    <i class="icon-thumbs-up" style="display: none;"></i><span style="margin-left: 3px; margin-right: 7px; display: none;" id="recsCount"></span>
                    {{/if}}
                    
                  {{if (CommentsCount==0)}}
                       <i class="icon-comment" style="display: none;"></i><span style="margin-left: 3px; margin-right: 7px;" id="commentsCount">Add comment</span>
                    {{else}}
                      <i class="icon-comment"></i><span style="margin-left: 3px; margin-right: 7px;" id="commentsCount">${CommentsCount}</span>
                    {{/if}}
                </a>

                <blockquote id="divRecCom" style="display: none; padding-left: 5px; padding-bottom: 0px;">
                    <div>
                    </div>
                </blockquote>


            </div>


            <!-- /recommendations and comments link -->



            <div class="showonhover" style="position: absolute; top: -2px; right: 0px;">
                <div class="btn-toolbar" style="margin: 0px;">

                    <!-- /btn-group -->
                    <div class="btn-group">
                        <a title="Recommend"
                            class="btn btn-mini tiptip recommend" target="_blank"><i class="icon-thumbs-up"></i></a>
                    </div>
                    <!-- /btn-group -->

                </div>
                <!-- /btn-toolbar -->
            </div>



            {{if (WhoViewedPersonID!=0)}}
        <div class="whoviewsbg" style="position: absolute; bottom: -8px; right: -8px;">
            <div class="bg">
                &nbsp;
            </div>
            <div class="content">
                <a href="../AccountNew/ViewPerson.aspx?objtype=p&objid=${WhoViewedPersonID}" target="_blank">${WhoViewedUserName}</a>
            </div>
            <div class="clear">
            </div>
        </div>
            {{/if}}

        </div>
    </td>
</tr>
