﻿<div>
 {{if (Recommendations.length!=0)}}
    <div class="fleft reccomblock">
    <div class="header">
        <i class="icon-thumbs-up"></i> The article is recommended by:
    </div>
        {{tmpl(Recommendations) "#tmplRecommendation"}}
    </div>
    {{/if}}

    <div class="fleft reccomblock" >
         <div class="header">
        <i class="icon-comment"></i> Comments:
    </div>
    {{if (Comments.length!=0)}}
        {{tmpl(Comments) "#tmplComment"}}
    {{/if}}
        <div class="control-group feed_comment">
            <textarea style="width:280px; margin-bottom:4px;" rows="3" />
            <a class="btn btn-mini fright" style="margin-right:2px;" id="btnAddComment">Add</a>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <div class="clearfix"></div>
</div>
