﻿<div class="feed_comment">
    
    <div class="fleft" style="width:16px; margin-right:4px;">
        {{if (PersonallyAddressed==1)}}
        <i class="icon-exclamation-sign tiptip" title="This person adressed this recommendation for you personally"></i>
        {{else}}
        &nbsp;
        {{/if}}
    </div>
    
    <a class="fleft" href="ViewPerson.aspx?objid=${AuthorID}&objtype=p" target="_blank" style="margin-right:4px;">
        <img src="${AvatarURL}" alt="" />
    </a>
    <a class="author" href="ViewPerson.aspx?objid=${AuthorID}&objtype=p" target="_blank"  style="margin-right:4px;">
        ${Author}&nbsp;{{if (IsViewerPerson==1)}}(It's you){{/if}}
    </a>
    <a class="recipients tiptip" isopen="0" authorid="${AuthorID}" style="cursor:pointer;font-size: 11px; text-decoration:none; margin-left:4px;"  title="View recommendation recipients">
    {{if (SubRecsCount!=0)}}<i class="icon-hand-right"></i> ${SubRecsCount}{{/if}}
    </a>
    
    <div class="timestamp" style="margin-top:20px;">
        ${TimeStamp}
    </div>
    
    <div class="clearfix" style="margin-left:28px;"></div>
    <div style="margin-left:20px;"></div>
</div>

