﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Basic.Master" CodeBehind="MyPageRedirect.aspx.vb" Inherits="BioWS.MyPageRedirect" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
