﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master.Master" CodeBehind="ProcessPMID.aspx.vb" Inherits="BioWS.ProcessPMID" %>
<%@ Register src="UserControls/uc_TitleByChart.ascx" tagname="uc_TitleByChart" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:TextBox ID="TextBox1" runat="server" Width ="300px"></asp:TextBox><br />
    
    <asp:Button ID="Button1"
        runat="server" Text="Button" /><br /><br />


        <uc1:uc_TitleByChart ID="uc_TitleByChart1" runat="server" />
</asp:Content>
