﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Send.aspx.vb" Inherits="BioWS.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      Откуда:<br />
    <asp:TextBox ID="txtFrom" runat="server" Width="400">noreply@bioknowledgecenter.ru</asp:TextBox><br /><br />
    Куда:<br /><asp:TextBox ID="txtTo" runat="server" Width="400">evdokimov@phido.ru</asp:TextBox><br /><br />
    
    <asp:Button ID="Button1" runat="server" Text="Отправить" />


    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
    
    </div>
    </form>
</body>
</html>
