﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Basic.Master" CodeBehind="ViewArticle.aspx.vb" Inherits="BioWS.ViewArticle2" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


<h1>

    <asp:Literal ID="lit_title" runat="server"></asp:Literal>
    </h1>




</asp:Content>
