﻿.feed_date
{
    border-width: 1px;
    border-color: #C0C0C0;
    font-size: 12px;
    color: #999999;
    border-top-style: solid;
    margin-bottom:7px;
    margin-top:18px;
}

.feed_time
{
    float:left;
color: #d0d0d0;    
     width:30px;
     margin-left:5px;
    }


.feed_on
{
    color: #008000;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #008000;
}
    
.feed_off
{
    color: #FF0000;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #FF0000;
}


.feed_pm
{

    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/pubmed_fade.gif');
    background-repeat: no-repeat;
    background-position:  35px 3px;
    margin-bottom:8px;
}

.feed_pm:hover
{
    background-image: url('../../Images/Feed/pubmed.gif');
}

.feed_doi
{
    padding-left: 62px;
    margin-left: 10px;
    background-image: url('../../Images/Feed/doi_fade.jpg');
    background-repeat: no-repeat;
    background-position: 35px 3px;
    margin-bottom: 8px;
}

.feed_doi:hover
{
    background-image: url('../../Images/Feed/doi.jpg');
}

.feed_profile
{
    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/profile_fade.png');
    background-repeat: no-repeat;
    background-position:  35px 0px;
    margin-bottom:8px;
}

.feed_profile:hover
{
    background-image: url('../../Images/Feed/profile.png');
}

.feed_widget
{
    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/widget_fade.png');
    background-repeat: no-repeat;
    background-position:  35px 0px;
    margin-bottom:8px;
}

.feed_widget:hover
{
    background-image: url('../../Images/Feed/widget.png');
}


.feed_articlereq
{
    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/document_find_fade.png');
    background-repeat: no-repeat;
    background-position:  35px 0px;
    margin-bottom:8px;
}

.feed_articlereq:hover
{
    background-image: url('../../Images/Feed/document_find.png');
}

.feed_articleoff
{
    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/document_into_fade.png');
    background-repeat: no-repeat;
    background-position:  35px 0px;
    margin-bottom:8px;
}

.feed_articleoff:hover
{
    background-image: url('../../Images/Feed/document_into.png');
}

.feed_group
{
    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/group_fade.png');
    background-repeat: no-repeat;
    background-position:  35px 0px;
    margin-bottom:8px;
}

.feed_group:hover
{
    background-image: url('../../Images/Feed/group.png');
}


.feed_articlerec
{
    padding-left: 62px;
    margin-left:10px;
    background-image: url('../../Images/Feed/thumb_up_fade.png');
    background-repeat: no-repeat;
    background-position:  35px 0px;
    margin-bottom:8px;
}

.feed_articlerec:hover
{
    background-image: url('../../Images/Feed/thumb_up.png');
}


.feed_timeup
{
    font-family: verdana;
    font-size: 7pt;
    font-weight:bold;
    color:  #008000;
    background-image: url('../../Images/arrow_up.png');
    background-repeat: no-repeat;
    padding: 2px 0px 2px 18px;
}

.feed_timedown
{
    background-position: right;
    font-family: verdana;
    font-size: 7pt;
    font-weight: bold;
    color: #008000;
    background-image: url('../../Images/arrow_down.png');
    background-repeat: no-repeat;
    padding: 2px  18px 2px 0px;
    float: right;
}

.artview
{
border:1px solid #d9dae0; padding:4px;font-family:Verdana; font-size:8pt; color:#808080; cursor:pointer
}


.feed_small
{
     font-size: 12px;
     color:Black;
    }