﻿/* DEFAULTS
----------------------------------------------------------*/

html
{
     background: url('../../Images/bg-html.jpg') #e6e6e6 repeat-x;
     margin: 0px;
    padding: 0px;
}

body
{
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background: url('../../Images/top_bg.png') no-repeat right top;
    
}

a img 
{
    border :none;  }

.bord_im  
{
  border: 4px solid #e9e9e9;   
    }


a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
     text-decoration : underline;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


.link a:link, .link a:visited,.link a:hover  
{
      color: #034af3;
      font-family:"Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
       font-size: 14px;
    }



.hoverlink 
{
     color: #1d60ff;
     text-decoration : underline;
    }

.nolink a:hover 
{
     text-decoration :none;
    }
.nolink a
{
    color: black;
}

/* SETPERIOD
----------------------------------------------------------*/

.setperiod {}
.setperiod a {   color: #034af3;   text-decoration : underline;font-size: 11px; }
.setperiod a:hover {  text-decoration : none; cursor:pointer; }
.setperiod a.active {  background-color: #a0a0a0; text-decoration : none;  color:white;
                       
                          -webkit-border-radius: 3px;
	-moz-border-radius: 3px;            
	border-radius: 3px; padding-left:4px; padding-right:4px;
                       }

/* BLOCKS
----------------------------------------------------------*/

.blueHeader
{
    /*  background: url('../../Images/bg-nav.jpg') white repeat-x left bottom; */
    border: 1px dotted #99CCFF;
    position: relative;
    height: 20px;
    padding: 4px;
    background-color: #E8F3FF;
     margin-bottom :4px;
}


.darklueHeader
{
    /*  background: url('../../Images/bg-nav.jpg') white repeat-x left bottom; */
    border: 1px dotted #99CCFF;
    position: relative;
    padding: 4px;
    background-color: #D5E9FF;
}

.darklueContainer 
{
    border-bottom: 1px dotted #99CCFF;
    border-left: 1px dotted #99CCFF;
    border-right: 1px dotted #99CCFF;
    padding: 4px;
    }
    
    
    
.blockinfo
{
    background-color:    rgb(249, 246, 231);
    border:1px solid #d4bc4c;
    padding:12px;
    }


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    
}

h1
{
    font-size: 2em;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
}

h3
{
    font-size: 1.2em;
     padding-top :25px;
      padding-bottom :20px;
      font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
}


h4
{
    font-size: 1.2em;
     padding-top :0px;
      padding-bottom :0px;
      margin-top:15px;
      margin-bottom :10px;
      font-variant:normal ;
      font-family : Georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;

     
}



h5
{
   font-size: 1.2em;
     padding-top :0px;
      padding-bottom :0px;
      margin-top:25px;
      margin-bottom :10px;
      font-variant:normal ;
      font-family : Georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
      background: url('../../Images/divider.png') no-repeat center center;
}
h5 span
{
     background-color:White;
     background-clip:border-box;
     padding-right:4px;
    }


hr { margin-top :20px;}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
     padding-top :50px;
    width: 969px;
    background-color: #fff;
    margin:  0px auto 0px auto;
    background: url('../../Images/bg-shadow.png') no-repeat center 53px;
}

.page_inner
{
     margin: 0px auto;
      width :945px;
    }
    
    
.nav
{
    background: url('../../Images/bg-nav.jpg') white repeat-x left top;
}
.nav2
{
     position :relative ;
      height :35px;
    }
    
    
    
.nav2 a:hover 
{
     text-decoration :none;
    }

.nav3
{
    
    position :relative ;
    width:120px; 
    float:right; 
    text-align :center ; 
    
    }
    
.nav3 a 
{
    display:block ;
    height :30px;
    margin: 0px;
    padding-top:5px;
     text-decoration :none;
      font-weight :bold ;
      font-family :Trebuchet MS ;
     
    }
.nav3 a:hover
{
    display:block ;
    background: url('../../Images/bg-nav3.jpg') white repeat-x left top;
    }


.mainmenu 
{
    float: left; margin-top: 12px; margin-left: 1px;
    }

    
.mainmenu     a:hover
{
     text-decoration :none;
    }
    .mainmenu     a
{
     color:inherit;
    }


.container_content 
{
     border-left :#e5e5e5 1px solid;
     border-right:#e5e5e5 1px solid;
      background-color :#ffffff;
     padding: 0px;
     margin: 0px;
     }


.footer
{
    position: relative;
    margin:  -1px 0px  10px;
    background: url('../../Images/bg-footer.png') no-repeat center bottom;
    
}

.footer_content
{
    background: url('../../Images/divider.png') no-repeat center 0px;
     padding-bottom :30px;
     padding-top:15px;
     padding-left:20px;
     padding-right:20px;
}

.main
{
     
  
    padding:   10px 20px  35px  30px;
    
}

.main h1 h2 
{
    margin-top :0px;
      padding-top :0px;
      margin-bottom :0px;
      padding-bottom :0px;
     }
     
.page_header 
{
    
    
    padding:5px;  
    font-size: 1.5em; 
    background-color:#a0a0a0; 
    color:White ;  
    background: url('../../Images/h1.png') repeat-x right top;
    margin-left:0;
    }
     
     .obj_header 
{
    
    padding:2px 2px 2px 6px;  
    
    font-size: 1.0em; 
    
    color:White ;  
    background: url('../../Images/obj_header.png') repeat-x right top;
    }


/* TAB MENU   
----------------------------------------------------------*/


div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 0px;
    margin :0px;
    width :100%;
}

div.menu ul
{
    width: 100%;

    list-style: none ;
    margin: 0px;
    padding: 0px;
     

     
}

div.menu ul li 
{
    background: url('../../Images/menu_item_bottom.jpg')  #fff no-repeat 0px 0px;
     padding-bottom :10px;
     padding-top :10px;
       padding-left :0px;
       padding-right :0px;
    }

div.menu ul li a, div.menu ul li a:visited
{
    display: block;
    line-height: 1.35em;
    padding:  0px 20px;
    text-decoration: none;
    white-space: nowrap;
     
}

div.menu ul li:hover
{
    text-decoration: none;
    background: url('../../Images/menu_item_selected.jpg')  #fff no-repeat 0px 0px ;
}

div.menu ul li a:active
{
    
    text-decoration: none;
}

/* FOOTER MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu_f
{
    padding: 0px;
     margin :0px;
     width :100%;
      color: #a0a0a0;
       font-size :11px;
}

div.menu_f ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
     
}

div.menu_f ul li 
{
     
      width: auto;
       padding-left :0px;
       padding-right :0px;
    }

div.menu_f ul li a, div.menu_f ul li a:visited
{
    display: block;
    line-height: 1.35em;
    padding:  0px 5px;
    text-decoration: none;
    white-space: nowrap;
    color: #a0a0a0;
}

div.menu_f ul li:hover
{
    text-decoration: none;
}

div.menu_f ul li a:active
{
    
    text-decoration: none;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}


legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    
       background-color:#E2ECFA;
    border-top: 1px solid #B9BABF;
    border-left: 1px solid #B9BABF;
    border-bottom:none;
    border-right: none;
     padding:4px;
}

input.passwordEntry 
{
    
}

div.accountInfo
{
    width: 65%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* --- POPUP ---*/

.popup_out {border: 3px solid #FFFFFF; padding: 4px; z-index: 9900;
        position: absolute; background-color: #E6ECFB; display: none; width :250px;}
        
.popup_in {padding: 8px; border: 1px solid #5c8ad0; z-index: 9901; background-color: #FFFFFF; padding-bottom:15px;}

.popup_in th 
{
     text-align :center ;
      background-color : #dadada;
      font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
       font-weight :normal ;
    }
    
    .popup_in td
{
      padding : 4px;
       background-color :#f0f0f0;
    }
    
    
    
    
/*---- grid view ------ */

/*  gv rows */

.row1 {
		background: #ffffff;
		 padding : 3px 0px 0px 3px;
	}

.row2
{    
    background: #f9f9f9;
    padding : 3px 0px 0px 3px;
   }

.gv_item {
 padding : 4px 4px 4px 4px;
  border : 1px solid #afafaf;
}


.gv_item_header {
 padding : 3px 3px 3px 3px;
  border-bottom : solid 1px #aaaaaa;
 font-weight :bold ;
}



/*---- watermark ---*/
.txt_watermark
{
    color: #BCBCBC;
    font-style: italic;
}
/* masked edit related styles */

.TextBoxWatermark
{
		color: #aaaaaa;
		font-style: italic;
		 
}

/*---- invalid highlight --- */

.invalidHighlight
{
    background-color: #FFCCFF;
}


/*---- bulleted list--- */

.bulletedDiv 
{
     height :420px;
      overflow :auto ;
       overflow-y: scroll;
        border : solid 1px #cccccc;
    }
.selectIndex {
    font-weight: bold;
    text-decoration:none;
}
.unselectIndex {
    font-weight:normal;
    text-decoration:underline;
}

/* table */

.td_label 
{
     color:Gray;
     text-align:right;
     width:180px;
    }
    
    
.td_field 
{
     padding-left:15px;

     color: #193f91;
    }



/*----- table ------*/

.field_name 
{
    border: 1px dotted #99CCFF;
    background-color: #E8F3FF;
    }
.field_value 
{
    border: 1px dotted #99CCFF;
    }

.field_name2
{
    color: #999999;
}
.field_value2 
{
     color: Black ;
    }


/*---- tabs -----*/

.ajax__tab_panel
{
     border:0px;
    }
    
    
    
    

/* masked edit related styles */

.MaskedEditFocus
{
	background-color: #ffffcc;
	color: #000000;
}



.MaskedEditError
{
	background-color: #ffcccc;
}



/* validation */

.invalid_msg 
{
     color :Red;
      font-size :14px;
	  font-family :Trebuchet MS , Arial ;
}


.valid_msg 
{
     color :green;
      font-size :14px;
	  font-family :Trebuchet MS , Arial ;
}


.tabpage 
{
     padding :0px 0px 0px 0px;
    }
    
    
    

/*---- underline ----*/



.hunderline_h 
{
      border-bottom: solid 2px black;    
      padding-bottom:0px;
          font-size: 1.2em;
     padding-top :25px;
      font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
          font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    }

.hunderline_block
{
  background: #000000;
  padding:   0px 0px 0px 0px;
  margin:0px;
    float:right;
      position:relative;
      top:-8px;

}

.hunderline_round
{
  margin:0px;
  
    padding:                   1px 2px 0px 3px;  
       background-color: #000000;
    font-weight:bold;
    color: #FFFFFF;
    float:right;
  
    position:relative;
    top:-2px;
     font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
        -moz-border-radius:3px;
    border-radius: 3px;
    }
    
.menu_separator 
{
    background-color:gray; 
    color:White; 
    padding:2px; 
    font-size:11px;
    
    }
    
    
    
.widgeton 
{
    color:Green;
    font-weight:bold;
    }
    
.widgetoff 
{
    color:Red;
    font-weight:bold ;
    }


.rowdisabled
{
    background-color: #E9E9E9;
}




/* --- groups ---- */

.group
{
     border-top: 1px solid #F5F5F5;
     padding-top:7px;
     margin-bottom:7px;
    }
    
.group_img
{

}

.group_img div
{
        border: 4px solid #F5F5F5;
    
    }
    
.group_img img
{
    background-color: #F5F5F5;
    border: 2px solid #FFFFFF;
    }    
    
.groupdesc
{
  font-family:   "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size:11px;
  line-height:14px;
    }
    
    
.tag
{
    border: solid #C0C0C0 1px;
    color: #B0B0B0;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
}


/* --- message ----*/

.msg_row1
{
    font-weight:bold;
}
    
.msg_row2
{
    
    }
    
    
    
    
.EmptyDataText
{
    color:#777777;
    font-family:Verdana;
    font-style:italic;
    font-size:8pt;
    }