﻿<%@ Page
    Theme="Theme2" 
    Title="" 
    Language="vb" 
    AutoEventWireup="false" 
    MasterPageFile="~/Masters/bsside.master" 
    CodeBehind="FailedRecommendation.aspx.vb" 
    Inherits="BioWS.FailedRecommendation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph1" runat="server">
    <asp:Literal ID="litMessage" runat="server"></asp:Literal>
</asp:Content>
