﻿<%@ Page Title="" Language="vb" Theme="Theme2" AutoEventWireup="false" MasterPageFile="~/Masters/bsside.master" CodeBehind="Test.aspx.vb" Inherits="BioWS.Test1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph1" runat="server">
    <script src="../Scripts/jquery.hovercard.min.js"></script>

    <script src="../Scripts/Code/PersonHoverCards.js"></script>



                             <p>jQuery by <a href="http://www.rbc.ru" personid="23" class="demo-ajax">John Resig</a> is a cross-browser JS
library designed to simplify the client-side scripting of HTML. It was released in January of 2006 at BarCamp NYC. Used by over 46% of the 10,000 
most visited websites, it's the most popular JavaScript library <a href="http://www.lenovo.ru" personid="23" class="demo-ajax">brbrbr</a>in use today.</p>

                                <p>jQuery is free, open source software, dual-licensed under the MIT License and GNU General Public License, Version 2.[4] jQuery's syntax is designed to make 
it easier to navigate a document, select DOM elements, create animations, handle events, and develop Ajax applications.</p>


                                //plugin script for demo ajax---
<script 
    type="text/javascript">
    $(document).ready(function () {
        var hoverHTMLDemoAjax = '<div class="smallfade">Specializes in:</div><div id="pershccont"></div>';


        //$('.demo-ajax').PersonHoverCards();

        $(".demo-ajax").hovercard({
            detailsHTML: hoverHTMLDemoAjax,
            width: 350,
            openOnLeft: true,
            cardImgSrc: 'http://ejohn.org/files/short.sm.jpg'
        });
    });
</script>
</asp:Content>
