﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" Theme="Theme2" MasterPageFile="~/Masters/bsside.Master" CodeBehind="ViewWidget.aspx.vb" Inherits="BioWS.ViewWidget3" %>


<%@ Register Assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxNavBar" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxTabControl" TagPrefix="dx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp1" %>


<%@ Register Assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxSplitter" TagPrefix="dx" %>
<%@ Register assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxPanel" tagprefix="dx" %>
<%@ Register src="../UserControls/SetPeriod.ascx" tagname="SetPeriod" tagprefix="uc1" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cph1" runat="server">
    <ul class="breadcrumb">
        <li>
            <asp:HyperLink ID="hlViewedPerson" runat="server" />
            <span class="divider">/</span> </li>
        <li>
            <asp:Literal ID="litCurPage" runat="server"></asp:Literal>
        </li>
    </ul>



    
         
    
    <uc1:SetPeriod ID="SetPeriod1" runat="server" />



                                        <dx:ASPxSplitter ID="ASPxSplitter1" runat="server" ClientIDMode="AutoID" CssFilePath="~/App_Themes/Office2010Silver/{0}/styles.css"
            CssPostfix="Office2010Silver" Height="550px">
            <panes>
            <dx:SplitterPane ContentUrlIFrameName="f1">
                <ContentCollection>
                    <dx:SplitterContentControl ID="SplitterContentControl2" runat="server" SupportsDisabledAttribute="True">
                        <asp:Literal ID="lit_w" runat="server" Text="Select widget in left navigation panel"></asp:Literal>
                    </dx:SplitterContentControl>
                </ContentCollection>
            </dx:SplitterPane>
        </panes>
            <styles cssfilepath="~/App_Themes/Office2010Silver/{0}/styles.css" csspostfix="Office2010Silver">
        </styles>
            <images spritecssfilepath="~/App_Themes/Office2010Silver/{0}/sprite.css">
        </images>
        </dx:ASPxSplitter>
</asp:Content>
