﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="uc_GroupItem.ascx.vb" Inherits="BioWS.uc_GroupItem" %>
<div style="padding :3px; background-color :White ; margin-bottom :6px;">



    <table width="100%">
        <tr>
            <td style="" valign="top">
            <div style ="font-size: 1.1em; margin-bottom :2px;"><asp:HyperLink ID="hl_grouptitle" runat="server"/></div>
<table width ="100%" cellpadding="2" cellspacing ="2">
    <asp:Literal ID="Literal1" runat="server"></asp:Literal>

</table>

            </td>
            <td style="width: 200px;" valign="top">
                



            </td>
        </tr>
    </table>



</div>