﻿    <%@ Page Language="vb" AutoEventWireup="false" CodeBehind="CheckURL.aspx.vb" Inherits="BioWS.CheckURL" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <h3>Input</h3>
    
       <asp:Literal ID="lit_URL" runat="server">URL:</asp:Literal><br />
        <asp:TextBox ID="txt_URL" runat="server"></asp:TextBox><br />
        <asp:Literal ID="lit_PluginID" runat="server">PluginID:</asp:Literal><br />
        <asp:TextBox ID="txt_Plugin" runat="server"></asp:TextBox><br />
        <asp:Literal ID="lit_PersonID" runat="server">PersonID:</asp:Literal><br />
        <asp:TextBox ID="txt_Person" runat="server"></asp:TextBox><br />
            <br />
            <br />
            <asp:Button ID="btn_test" runat="server" Text="Test" />
     <br />
            <br />
    
    
    <h3>Output</h3>
    
    
     
            <br />
            <asp:Literal
                ID="lit_result" runat="server"></asp:Literal>
    
    
    
    
    </div>
    </form>
</body>
</html>
