﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="TestWS.aspx.vb" Inherits="BioWS.TestWS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Button" />
        <asp:Literal ID="Literal1"
            runat="server"></asp:Literal>
    </div>
    </form>
</body>
</html>
