﻿/* DEFAULTS
----------------------------------------------------------*/

html
{
     margin: 0px;
    padding: 0px;
}

body
{
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

a img 
{
    border :none;  }


a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
     text-decoration : underline;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    margin-left:25px;
    line-height: 1.6em;
}


ul
{
    margin-left:25px;
    }

ol
{
    margin-left:25px;
    }

img 
{
    margin-left:25px;
    }
    


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    font-weight:bold ;
    color: #0052A4;
}

h1
{
    font-size: 2em;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
}

h2
{
    font-size: 1.5em;
   
    font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
}

h3
{
    font-size: 1.2em;
      font-family :georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;
}


h4
{
    font-size: 1.2em;
     padding-top :0px;
      padding-bottom :0px;
      margin-top:15px;
      margin-bottom :10px;
      font-variant:normal ;
      font-family : Georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;

     
}



h5
{
   font-size: 1.2em;
     padding-top :0px;
      padding-bottom :0px;
      margin-top:25px;
      margin-bottom :10px;
      font-variant:normal ;
      font-family : Georgia,serif,MetaBlack,"Trebuchet MS",sans-serif;

}

.dummy
{
    color: #EAEAEA;
}