﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        .greeting
        {
            font-weight: bold;
        }
        a
        {
            color: #980000;
            text-decoration: none;
        }
        body
        {
            margin: 20px;
            background: url('http://ws.bioknowledgecenter.ru/Images/top_bg.png') no-repeat right top;
            font-variant: normal;
            font-family: Georgia,serif,MetaBlack, "Trebuchet MS" ,sans-serif;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/New/logo.png" /><br />
    <br />
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
    <p class="greeting">
        Greetings!</p>
    <p>
        <a href="http://ws.bioknowledgecenter.ru/">BioKnol</a> user
        <%From%>
        has invited you to join <a href="http://ws.bioknowledgecenter.ru/">BioKnol</a>!
    </p>

    <p>
    <a href="http://ws.bioknowledgecenter.ru/">BioKnol</a> is a social network for PubMed/GoogleScholar readers.
    </p>
    
    <p>
    Find out more about BioKnol at the <a href="http://www.bioknol.org/">presentation site</a> or proceed with BioKnol <a href="http://ws.bioknowledgecenter.ru/">right now</a>.
    </p>
   
    <p class="greeting">
        Best wishes,<br />
        Your BioKnol Team
    </p>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
</body>
</html>
