﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        .greeting
        {
            font-weight: bold;
        }
        a
        {
            color: #980000;
            text-decoration: none;
        }
        body
        {
            margin: 20px;
            background: url('http://ws.bioknowledgecenter.ru/Images/top_bg.png') no-repeat right top;
            font-variant: normal;
            font-family: Georgia,serif,MetaBlack, "Trebuchet MS" ,sans-serif;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/New/logo.png" /><br />
    <br />
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
   
    <p class="greeting">
        Dear <%FIO%>,</p>
    
    
    <p>You recieved new message from <%From%>:</p>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
    <p><b>
        <%Title%>
    </b></p>
    <p>
  
        <%Content%>
    </p>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />

    <%REPLYURL%>
    <p class="greeting">
        Best wishes,<br />
        Your BioKnol Team

    </p>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
</body>
</html>
