﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        .greeting {
            font-weight: bold;
        }

        a, a:link, a:visited {
            text-decoration: none;
            color: #3F66CC;
        }

            a img {
                border: none;
            }

        body {
            margin: 20px;
            font-variant: normal;
            font-family: Georgia,serif,MetaBlack, "Trebuchet MS",sans-serif;
            font-size: 16px;
        }

        .fleft {
            float: left;
        }

        .clear {
            clear: both;
        }

        .mainSubTitle {
            font-size: 25px;
            margin-left: 15px;
        }

        .comment {
            margin-top: 7px;
            padding-top:10px;
             padding-bottom:10px;
             padding-left:10px;
             padding-right:10px;
            background-color: #E8E8E8;
            font-style: italic;
        }
    </style>
</head>
<body>



    <div style="text-align: center; font-size: 12px; color: gray; margin-bottom: 4px;">Remember to add <b>noreply@bioknowledgecenter.ru</b> to your address book to ensure our e-mails reach your inbox </div>
    


        <table style="width: 100%;">
            <tr>
                <td></td>
                <td style="border: 12px solid #E5E5E5; padding: 15px; width:650px;">
                    <table>
                        <tr>
                            <td><a href="http://ws.bioknowledgecenter.ru">
                                <img alt="" class="fleft" src="http://ws.bioknowledgecenter.ru/Images/New/logo.png" /></a></td>
                            <td>
                                <div class="mainSubTitle "><a href="http://ws.bioknowledgecenter.ru">social network for PubMed/GoogleScholar readers</a></div>
                            </td>

                        </tr>

                    </table>
                    &nbsp;
        <div style="padding: 20px;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 50px;">
                        <img alt="" src="<%hAvatarURL%>" /></td>
                    <td style="font-size: 18px; padding-left: 10px;"><a href="<%hPersonURL%>"></a><%hDisplayName%> recommends you an article</td>
                </tr>
            </table>
            <%hComment%>
            <div style="margin-top: 15px;">
                <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" width="100%" />
                <a
                    style="margin-top: 20px; margin-bottom: 10px; display: block; font-weight: bold;"
                    href="<%hArticleURL%>"><%hArticleTitle%></a>

                <%hFulltext%>
                

            </div>
        </div>
                </td>
                <td></td>
            </tr>
        </table>



    
</body>
</html>
