﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        .greeting
        {
            font-weight: bold;
        }
        a
        {
            color: #980000;
            text-decoration: none;
        }
        body
        {
            margin: 20px;
            background: url('http://ws.bioknowledgecenter.ru/Images/top_bg.png') no-repeat right top;
            font-variant: normal;
            font-family: Georgia,serif,MetaBlack, "Trebuchet MS" ,sans-serif;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/New/logo.png" /><br />
    <br />
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
    <p class="greeting">
       Welcome to PRD!</p>
<p>
Thank you for registering with Personal Reference Dashboard. 
</p>

<p>
Your new account gives you access to many important features on our websites, including:
</p>
<ul>
<li>Tracking your scientific activity on the Web</li>
<li>Search though your reading history</li>
<li>Following other PRD users and groups of users activity</li>
<li>Access to relative data, provided by third parties</li>
</ul>

<p>Please save this email for future reference.</p>
<p>
Your account information:</p>
    E-mail:
    <b><%UserName%></b><br />
    Password:
    <b><%Password%></b><br />
    <br />
    <p>
You can log in to your new account and edit your profile options at:    <a href="http://ws.bioknowledgecenter.ru/Account/Login.aspx">PRD website</a>
    </p>

    
  













    <p class="greeting">
        Best wishes,<br />
        Your PRD Team

    </p>
    <img alt="" src="http://ws.bioknowledgecenter.ru/Images/divider.png" />
</body>
</html>
