﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master.Master" CodeBehind="Default.aspx.vb" Inherits="BioWS._Default1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


<ul>
<li><asp:HyperLink ID="HyperLink3" runat="server"
     NavigateUrl ="~/Account/Admin/ManageUsers.aspx" 
    >Manage users</asp:HyperLink></li>

<li><asp:HyperLink ID="HyperLink1" runat="server"
     NavigateUrl ="~/Account/Admin/EditMonitoredSites.aspx" 
    >Edit monitored sites</asp:HyperLink>


<li><asp:HyperLink ID="HyperLink4" runat="server"
     NavigateUrl ="~/Account/Admin/MergeSites.aspx" 
    >Merge sites</asp:HyperLink>
    
    
    </li>    
    
    </li>
<li><asp:HyperLink ID="HyperLink2" runat="server"
     NavigateUrl ="~/Account/Admin/ViewStat.aspx" 
    >View overall statistics</asp:HyperLink></li>
    
    
    <li><asp:HyperLink ID="HyperLink5" runat="server"
     NavigateUrl ="~/Account/Admin/PlanTasks.aspx" 
    >Plan tasks</asp:HyperLink></li>
    

    
    <li><asp:HyperLink ID="HyperLink6" runat="server"
     NavigateUrl ="~/Account/Admin/SendMessages.aspx" 
    >Send messages</asp:HyperLink></li>
    

</ul>
    

    <hr />
    <h1>Одиночные задачи</h1>
    <asp:Button ID="btn_decode_urls" runat="server" Text="Декодировать URL'ы в логе посещений" /><br /><br />
    <asp:Button ID="btn_pubmedarticles" runat="server" Text="Обработать все статьи Pubmed"/><br /><br />
    <asp:Button ID="Button1" runat="server" Text="Проставить айдишники"/><br /><br />
    <asp:Button ID="btn_admin" runat="server" Text="Добавить в роль админ"/><br /><br />
    <asp:Button ID="Button2" runat="server" Text="Button" />
    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
</asp:Content>
