﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Basic.Master" CodeBehind="GetDLLHASH.aspx.vb" Inherits="BioWS.GetDLLHASH" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <asp:FileUpload ID="FileUpload1" runat="server" />
    <asp:Button ID="Button1" runat="server" Text="Button" /><br />
    <asp:Literal ID="Literal1" runat="server"></asp:Literal>
</asp:Content>
