﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PubYearsDistribution.aspx.vb" Inherits="BioWS.PubYearsDistribution" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background: none; margin-left:10px; margin-bottom:10px;">
    <form id="form1" runat="server">
    <div>
   
 <asp:Chart ID="Chart1" runat="server">
    <series>
    <asp:Series Name="Series2">
        </asp:Series>
        <asp:Series Name="Series1">
        </asp:Series>
                
    </series>
    <chartareas>
        <asp:ChartArea Name="ChartArea1">
        </asp:ChartArea>
    </chartareas>
</asp:Chart>
<br />



    </div>
    </form>
</body>
</html>
