﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Stat5.aspx.vb" Inherits="BioWS.Stat5" %>

<%@ Register assembly="DevExpress.Web.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxPanel" tagprefix="dx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <asp:Chart ID="Chart1" runat="server" Height="707px" Width="835px">
        <Series>
            <asp:Series Name="Series1" BorderColor="180, 26, 59, 105"  >
            </asp:Series>
               <asp:Series Name="Series2"  ChartArea="ChartArea2"  >
            </asp:Series>
        </Series>
        <ChartAreas>
            <asp:ChartArea Name="ChartArea1" >
             <Position  Y="5" Height="68" X="5" Width="95"/>
            </asp:ChartArea>
        </ChartAreas>
        <ChartAreas>
            <asp:ChartArea Name="ChartArea2">
            <Position  Y="74" Height="21" X="5" Width="95"/>
            </asp:ChartArea>
        </ChartAreas>
    </asp:Chart>
    </div>

    </form>
</body>
</html>
