﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Widget.master" CodeBehind="ViewWidgetStatistics.aspx.vb" Inherits="BioWS.ViewWidgetStatistics" %>
<%@ Register assembly="DevExpress.Web.ASPxGridView.v12.1, Version=12.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web.ASPxGridView" tagprefix="dx" %>
<%@ Register src="../../UserControls/SetPeriod.ascx" tagname="SetPeriod" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

 <h1 style="margin-top:1px; margin-bottom:12px;">
            <asp:Literal ID="litTitle" runat="server"></asp:Literal>
</h1>

<h5><span>Timeline of widget information views</span></h5>


<uc1:SetPeriod ID="SetPeriod1" runat="server" />
  
    <asp:Chart ID="Chart1" runat="server"   Width="640px" >
        <series>
        <asp:Series name="Series1"  >
        </asp:Series>
    </series>
    
        <chartareas>
        <asp:ChartArea Name="ChartArea1">
        </asp:ChartArea>
    </chartareas>
    
    </asp:Chart>




    




</asp:Content>
