﻿body {
}

h1 {
  font-size:25px;
}

h2 {
    font-size:18px;
    line-height:20px;
    border-bottom:1px solid #A1ACC8;
    font-weight:normal;
}
.rnd4
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.mauto {
    margin-left: auto;
    margin-right: auto;
}

.table th {
    background-color: #ECF5FF;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table tbody tr:hover th {
    background-color: #ECF5FF;
}

.table tbody tr:hover td {
    background-color: #FFFFF0;
}


tr:hover td .showonhover {
        display: inherit;
}

tr td .showonhover {
    display: none;
}


tr:hover td .hideonhover {
    display: none;
}

tr td .hideonhover {
    display: inherit;
}



.dropdown-menu a {
    cursor: pointer;
}


.ddlpadding {
    padding-left: 15px;
    font-style: italic;
    color: Gray;
}



#btnAbstract {
    cursor: pointer;
}


.icon-gold {
    background-image: url("../../Images/BS/glyphicons-halflings-gold.png");
}

.icon-gray {
    background-image: url("../../Images/BS/glyphicons-halflings-gray.png");
}



.datebg {
    font-size: 10px;
    padding-right: 17px;
    padding-left: 2px;
     
    background-image: url('../../Images/datebg.png');
    background-repeat: no-repeat;
}


.whoviewsbg .content {
    margin-top: 3px;
    height: 14px;
    font-size: 10px;
    line-height: 11px;
    padding-bottom: 0px;
    padding-right: 2px;
    float: left;
    border-top: 1px solid #dddddd;
    background-color: #ecf5ff;
}

.whoviewsbg .bg {
    height: 18px;
    font-size: 10px;
    width: 31px;
    float: left;
    background-image: url('../../Images/whoviewsbg.png');
    background-repeat: no-repeat;
}


.smallfade {
    color: Gray;
    font-style: italic;
    text-align: right;
    font-size: 11px;
}


/* comments and recommendations */

.reccomblock {
    margin-right: 5px;
    width: 300px;
}

.reccomblock .header {
    background-color: #A1ACC8;
        font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    line-height: 1.28;
    font-size: 11px;
    padding:4px;
}
.feed_comment {
    background-color: #EDEFF4;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    line-height: 1.28;
    font-size: 11px;
    padding:4px;
     border-bottom:1px solid white;
}
    .feed_comment .sidebid {
          background-color:#F6F8FC;
           line-height:58px;
           font-size:36px;
           color:#9191B6;
            width:80px; text-align:center;
    }
.feed_comment:last-child{
     border-bottom:none;
}
    .feed_comment a.author {
        color: #3a5998; font-weight:bold;
    }
    .feed_comment .timestamp {
        color:#9191B6;
        float:right;
    }

/*---------- avatar status ---------*/

.avatarStatus {
    position: absolute;
    bottom: 5px;
    background-color: black;
    color: white;
     width:162px;
     opacity:0.7;
     padding:4px;

    -moz-border-radius-bottomright: 4px 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}