﻿<div class="feed_comment">
    <a class="fleft" href="ViewPerson.aspx?objid={{:AuthorID}}&objtype=p" target="_blank" style="margin-right:4px;">
        <img src="{{:AvatarURL}}" alt="" class="avatar" personid="{{:AuthorID}}"/>
    </a>
    <div class="fleft">
    <a class="author" 
        href="ViewPerson.aspx?objid={{:AuthorID}}&objtype=p" 
        target="_blank" 
        style="margin-right:4px;"  
        personid="{{:AuthorID}}"   
        >{{:Author}}</a></div>
    <span>{{:Comment}}</span>
    <div class="timestamp" style="margin-top:4px;">
        {{:TimeStamp}}
    </div>
    <div class="clearfix"></div>
</div>

