﻿    <div style="margin-top: 5px;">
                <a style="cursor:pointer;font-size: 11px; text-decoration:none;" class="linkRecsComments">
                    {{if !RecommendationsCount==0}}
                        <i class="icon-thumbs-up"></i><span style="margin-left: 3px; margin-right: 7px;" id="recsCount">{{:RecommendationsCount}}</span>
                    {{else}}
                        <i class="icon-thumbs-up" style="display:none;"></i>
                        <span style="margin-left: 3px; margin-right: 7px; display:none;" id="recsCount"></span>
                    {{/if}}
                    
                  {{if CommentsCount==0}}
                       <i class="icon-comment" style="display:none;"></i><span style="margin-left: 3px; margin-right: 7px;" id="commentsCount">Add comment</span>
                     {{else}}
                      <i class="icon-comment"></i><span style="margin-left: 3px; margin-right: 7px;" id="commentsCount">{{:CommentsCount}}</span>
                    {{/if}}
                </a>

          {{if HasDownload==1}} 
                <a class="tiptip" style="cursor:pointer;font-size: 11px; text-decoration:none;" href="../DownloadRedirect.aspx?PubmedID={{:PubmedID}}" target="_blank" title="Full text" >
                    <i class="icon-download"></i><span style="margin-left: 3px; margin-right: 7px;" id="Span1">Download</span>
                </a>
            {{/if}}


                  <blockquote id="divRecCom" style="display:none; padding-left:5px; padding-bottom:0px;">
                      <div>
                      </div>
                  </blockquote>


            </div>
