﻿
     <tr>
            <th colspan="3">
             <div style="position:relative;" >
                 <div style="position:absolute; top:-3px; left:-9px; padding-top:0px;" class="datebg">
                 <div style="margin-top:-2px;">{{:Title}}</div>
                 </div>
             </div>
             </th>
         </tr>